@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body{
    background: #1e1e1e;
}

.container{
    position: relative;
    top: 325px;
    width: 100%,
}

.input-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
}

.text{
    position: relative;
    bottom: 10px;
    color: white;
}

.user-input{
    background-color: #141414;
    color: white;
    outline: none;
    border: none;
    resize: none;
    padding: 8px 10px;
    border-radius: 12px;
    width: 300px;
    height: 200px;

}

.user-input::placeholder{
    color: #666666;
}

@media screen and (max-width: 1080px){
    .user-input{
        width: 95%;
    }
}
